.animeList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .anime {
    background-color: rgb(236, 164, 164);
    width: 300px;
    margin: 15px 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;

    .animeInfo {
      display: inline-flex;
      width: 15rem;
      justify-content: space-between;
      align-items: center;
    }

    img {
      width: 300px;
      height: 400px;
    }
  }
}
